[submodule "cheat.el"]
	path = emacs.d/vendor/cheat.el
	url = git://github.com/defunkt/cheat.el.git
[submodule "far-search"]
	path = emacs.d/vendor/far-search
	url = git://github.com/aemoncannon/far-search-mode.git
[submodule "fuzzy-find-in-project"]
	path = emacs.d/vendor/fuzzy-find-in-project
	url = git://github.com/avvo/fuzzy-find-in-project.git
[submodule "gist.el"]
	path = emacs.d/vendor/gist.el
	url = git://github.com/defunkt/gist.el.git
[submodule "magit"]
	path = emacs.d/vendor/magit
	url = git://github.com/technomancy/magit.git
[submodule "rinari"]
	path = emacs.d/vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "textmate.el"]
	path = emacs.d/vendor/textmate.el
	url = git://github.com/defunkt/textmate.el
